    <div class="card" style="border: none; padding-top: 10px;">
      <img src="../assets/images/1.PNG" alt="" class="stackline-img">
      <div class="card-body text-center p-0">
        <div class="card-title mt-2 mb-0 font-weight-bold">Shark Ninja</div>
        <small class="text-muted">Magic bullet NutriBullet 12-piece <br> High speed blender/mixer system</small>
        <hr>
        <div class="row m-0">
          <a href="#" class="badge badge-light mr-4 ml-4 mainBorder customBadge minWidth70">Pantry</a>
          <a href="#" class="badge badge-light mr-4 mainBorder customBadge minWidth70">Obsolete</a>
          <a href="#" class="badge badge-light mr-4 mainBorder customBadge minWidth70">Blender</a>
          <a href="#" class="badge badge-light mr-4 ml-4 mt-2 mainBorder customBadge minWidth70">Lightening Deal</a>
        </div>
        <hr>
        <div class="sidebar">
          <ul style="list-style-type:none;" class="p-0">
            <li style="height: 30px;">
              <a href="">
                <i class="fas fa-home" style="font-size: 15px; color: lightgray;"></i>
                <span class="text-uppercase">overview</span>
              </a>
            </li>
            <li><a href="">
                <i class="fas fa-align-center" style="font-size: 15px; color: #03a5fc"></i>
                <span class="text-uppercase salesText">sales</span>
              </a>
            </li>
            <li>
            </li>
          </ul>
        </div>
      </div>
    </div>
