<nav class="navbar navbar-expand-lg panelWhite">
  <img src='../assets/images/2.PNG' style="height: 50px;" />
  <ul class="tabs">
    <li data-tab-target="#home" class="active tab">Home</li>
    <li data-tab-target="#pricing" class="tab">Pricing</li>
    <li data-tab-target="#about" class="tab">About</li>
    <li data-tab-target="#sideBar" class="tab" (click)="open()">Load sidebar</li>
  </ul>
</nav>

<div class="container m-3">
  <div id="home" data-tab-content class="active">
    <p>This is home</p>
  </div>

  <div id="pricing" data-tab-content>
    <p>This is pricing</p>
  </div>

  <div id="about" data-tab-content>
    <p>This is about</p>
  </div>

  <div id="sidebar">
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
   </div>
</div>


