  <nav class="navbar navbar-expand-lg panelWhite">
    <a class="navbar-brand" href="#">Stackline</a>
  </nav>

  <div class="container-fluid mt-5">
    <div class="row m-2">
      <div class="col-sm-12 col-md-2 panelWhite p-0" style="height: 1000px;">
        <div class="card" style="border: none;">
          <img src="../assets/images/1.PNG" alt="" style="height: 200px; width:200px; display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%">
          <div class="card-body text-center p-0">
            <div class="card-title mt-2 mb-0 font-weight-bold">Shark Ninja</div>
            <!-- <div class="card-text font-weight-light">Magic bullet NutriBullet 12-piece <br> High speed blender /mixer system</div> -->
            <small class="text-muted">Magic bullet NutriBullet 12-piece <br> High speed blender/mixer system</small>
            <hr>
            <div class="row m-0">
              <a href="#" class="badge badge-light mr-4 ml-4 mainBorder customBadge minWidth70">Pantry</a>
              <a href="#" class="badge badge-light mr-4 mainBorder customBadge minWidth70">Obsolete</a>
              <a href="#" class="badge badge-light mr-4 mainBorder customBadge minWidth70">Blender</a>
              <a href="#" class="badge badge-light mr-4 ml-4 mt-2 mainBorder customBadge minWidth70">Lightening Deal</a>
            </div>
            <hr>
            <div class="sidebar">
              <ul style="list-style-type:none;" class="p-0">
                <li style="height: 30px;">
                  <a href="">
                    <i class="fas fa-home" style="font-size: 15px; color: lightgray;"></i>
                    <span class="text-uppercase custom">overview</span>
                  </a>
                </li>
                <li><a href="">
                    <i class="fas fa-home" style="font-size: 15px; color: lightgray;"></i>
                    <span class="text-uppercase">sales</span>
                  </a>
                </li>
                <li>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-1"></div>
      <div class="col-sm-12 col-md-9">
        <div class="col-sm-12 col-md-12 col-lg-12 panelWhite mt-3" style="height: 500px;">
          <h6>Retail Stores</h6>
        </div>
        <br>
        <div class="col-sm-12 col-md-12 col-lg-12 panelWhite mb-3"
          style="overflow: auto;height: 500px; border-top: none;">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"><span class="text-uppercase">Week ending</span></th>
                <th scope="col"><span class="text-uppercase">retail sales</span></th>
                <th scope="col"><span class="text-uppercase">wholesale sales</span></th>
                <th scope="col"><span class="text-uppercase">units sold</span></th>
                <th scope="col"><span class="text-uppercase">retailer margin</span></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of this.salesData">
                <td>{{data.weekEnding | date: 'MM-dd-yyyy'}}</td>
                <td>{{data.retailSales | currency : 'USD' : 'symbol' : '1.0-0' }}</td>
                <td>{{data.wholesaleSales | currency : 'USD' : 'symbol' : '1.0-0' }}</td>
                <td>{{data.unitsSold}}</td>
                <td>{{data.retailerMargin | currency : 'USD' : 'symbol' : '1.0-0' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
